/Library
/Logs
/obj
/Packages
/Temp
/UserSettings
/.vsconfig
/JKFrame.csproj
/JKFrameEditor.csproj
/MyArpg.sln
/Sirenix.OdinInspector.Modules.Unity.Addressables.csproj
/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
/.vs
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
